<div class="d-flex justify-content-center">
        <a class="btn btn-primary fw-bold p-5 mx-1" href="/Dealer/Index">فروشندگان</a>
        <a class="btn btn-primary fw-bold p-5 mx-1" href="/City/Index">شهرها</a>
</div>